@charset "UTF-8";

main {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

article {
  display: flex;
  justify-content: center;
}

.explane_header {
  display: block;
  width: 200px;
}

p {
  display: block;
  width: 300px;
}

#tet_field {
  display: block;
  width: calc(90vh * (480 / 430));
  height: 90vh;
  margin: 0 auto;
}

#download {
  position: absolute;
  top: 85vh;
  left: calc(50vw + 90vh * (480 / 430) / 2);
}
